@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&family=Fredoka+One&display=swap');

/* ------- General styles */

* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ec0b43;
    color: #F6F3F7;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

h1 {
    font-family: 'Fredoka One', cursive;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.5rem;
}

/* ------- Home page */

.home-container {
    max-height: 100vh;
    border: solid;
}

.home-headings {
    /* border: 1px solid green; */
    height: 29vh;
    padding-top: 14vh;
    padding-left: 0;
    padding-right: 0;
}

.home-images {
    /* border: 1px solid blue; */
    height: 31vh;
}

.home-buttons {
    /* border: 1px solid yellow; */
    height: 12vh;
    padding-top: 7px;
}

.home-record {
    font-size: 2rem;
    /* border: 1px solid brown; */
    height: 28vh;
}

.home-img {
    margin-left: 28px;
    margin-right: 28px;
    max-width: 150px;
    height: 166px;
}

.home-button {
    background-color: #FFF689;
    border: none;
    color: #0d0a0b;
    font-weight: 600;
    width: 4.5em;
    font-size: 150%;
    text-transform: uppercase;
    margin-right: 0.75em;
    margin-left: 0.75em;
    letter-spacing: 3px;
}

.home-button:hover {
    background-color: #d6ffb7;
    color: #0d0a0b;
}

button.btn.btn-primary.home-button:active {
    background-color: #7ae7c7;
    border: none;
    box-shadow: none !important;
}

button.btn.btn-primary.home-button:focus {
    border: 1px solid #fff689;
    outline: none;
    box-shadow: none;
    background-color: #7ae7c7;
}

/* ------- Home page modals (difficulty and rules) */

.modal-header {
    border-bottom: none;
    justify-content: center;
    padding-bottom: 0;
    padding-top: 0;
}

.modal-body {
    padding-top: 0;
}

.modal-content {
    background-color: #58355E;
    height: 90vh;;
}

.carousel {
    position: initial;
}

.carousel-control-prev {
    top: 73%;
    left: 25%;
}

.carousel-control-next {
    right: 25%;
    top: 73%;
}

.slide-container {
    padding-left: 5px;
    padding-right: 5px;
}

.slide-sub {
    border-bottom: 4px solid;
    padding-bottom: 15px;
    border-radius: 3%;
}

.rules-content {
    font-size: 1.5rem;
    padding-top: 5px;
}

.rules-img {
    width: 49%;
    height: 56px;
    display: inline-block;
}

.rules-icon, .rules-number {
    display: inline;
    border: 3px solid;
    border-radius: 50%;
    padding: 12px;
    color: #FFF689;
    background-color: #ec0b43;
    font-size: 2.5rem;
}

.rules-number {
    padding-left: 22px;
    padding-right: 22px;
}

.difficulty-button {
    border: solid;
    border-radius: 50%;
    font-size: 3rem;
    width: 80px;
    height: 80px;
    margin-bottom: 2rem;
    padding: 0;    
}

.unflex {
    display: contents;
}

i.far.fa-hand-paper.rules-icon {
    margin: 5px;
    padding: 14px;
}

#slide-one-images {
    padding-bottom: 18px;
    padding-top: 15px;
}

#slide-two-images {
    padding-top: 1.25rem;
    padding-bottom: 28px;
}

#slide-three-images {
    padding-top: .75rem;
    padding-bottom: 17px;
}

#difficulty-modal-body {
    padding-left: 5em;
    padding-right: 5em;
}

div#ten {
    padding-left: 18px;
    padding-right: 18px;
}

h2#rules {
    font-size: 3rem;
    letter-spacing: 2px;
    font-family: 'Fredoka One';
    text-transform: uppercase;
}

button#rules-quit {
    background: none;
    font-weight: bold;
    font-size: 1.35rem;
    border: none;
}

span#next-icon, span#prev-icon {
    width: 3rem;
    height: 42px;
}

/* ------- Game page */

.game-container {
    height: 100vh;
}

.game-info {
    height: 13vh;
}

.game-area {
    height: 63vh;
}

.game-buttons-section {
    height: 24vh;
}


.game-image {
    height: 150px;
    transform: rotate(0deg);
}

.transparent {
    opacity: 0.7;
}

.game-input {
    background-color: transparent;
    color: rgb(255, 246, 137);
    border: 3px solid;
    font-size: 1.75em;
    border-radius: 50%;
    margin: 2px;
}

.hidden {
    display: none;
}

.game-input:hover {
    color: #ec0b43;
    background-color: rgb(255, 246, 137);
    border-color: #58355e;
}

.game-input:active {
    background-color: white;
}

button.btn.btn-primary.game-input:active {
    border-color: rgb(255, 246, 137);
    box-shadow: none !important;
}

.number-icon {
    width: 56px;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: rgba(255, 246, 137, .7);
    border-color: rgba(255, 246, 137, .7);
    color: #ec0b43;
}

.text-start {
    text-align: start;
}

#round-total {
    font-size: 2em;
}

/* ------- Animations */

.game-image-animation {
    height: 155px;
    transform: rotate(5deg);
}

/* ------- Media queries */

@media screen and (min-width: 375px) {
    h1 {
        font-size: 2.75rem;
    }
    h2 {
        font-size: 2rem;
    }
    .home-img {
        height: 195px;
    }
    .home-record {
        padding-top: 30px;
    }
    .rules-sub, .slide-sub {
        font-size: 2rem;
    }
    .rules-img {
        height: 75px;
    }
    .rules-icon, .rules-number {
        border: 4px solid;
        font-size: 3.5rem;
        padding: 15px;
    }
    .rules-number {
        font-size: 3rem;
        padding-left: 28px;
        padding-right: 28px;
    }
    i.far.fa-hand-paper.rules-icon {
        padding: 16px;
    }
    .rules-content, button#rules-quit {
        font-size: 1.75rem;
    }
    #slide-two-images {
        padding-bottom: 24px;
        padding-top: 1.75rem;
    }
    #slide-three-images {
        padding-top: 1.2rem;
    }
    h2#rules {
        font-size: 3.5rem;
    }
    div#ten {
    padding-left: 22px;
    padding-right: 22px;
}
}

@media screen and (min-width: 414px) {
    .home-buttons {
        height: 15vh;
        padding-top: 20px
    }
    .home-record {
        height: 25vh;
    }
    .rules-sub, .slide-sub {
        font-size: 2.25rem;
        font-weight: bold;
    }
    h2#rules {
    font-size: 4.5rem;
    }
    button#rules-quit {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 3.25rem;
    }
    .disappear {
        display: none;
    }
    .home-headings {
        height: 55vh;
        padding-top: 115px;
    }
    .home-buttons {
        height: 17vh;
        padding-top: 20px;
        font-size: 130%;
    }   
    .home-record {
        height: 27vh;
    }

    .heading-content {
        margin-top: 5rem;
    }
    .home-img {
        height: 215px;
    }
}