@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&family=Fredoka+One&display=swap');

/* Colors

(First selection)
Rich Black: 0d0a0b
Charcoal: 454955
Magnolia: ece6ef
Sheen Green: 9ce03e
Chrome Yellow: faa916

(Second selection)

*/

body {
    background-color: #ec0b43;
    color: #F6F3F7;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

h1 {
    font-family: 'Fredoka One', cursive;
}

h2 {
    font-size: 1.75rem;
}

.home-heading-container {
    margin-top: 15vh;
}

.home-img-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}

.home-img {
    margin-left: 28px;
    margin-right: 28px;
    max-width: 150px;
    height: 190px;
}

.home-buttons-container {
    margin-bottom: 1.5em;
}

.home-button {
    background-color: #FFF689;
    border: none;
    color: #0d0a0b;
    font-weight: 600;
    width: 4.5em;
    font-size: 150%;
    text-transform: uppercase;
    margin-right: 0.75em;
    margin-left: 0.75em;
    letter-spacing: 3px;
}

.home-button:hover {
    background-color: #d6ffb7;
    color: #0d0a0b;
}

button.btn.btn-primary.home-button:active {
    background-color: #7ae7c7;
    border: none;
    box-shadow: none !important;
}

button.btn.btn-primary.home-button:focus {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: #7ae7c7;
}

.home-record-container {
    font-size: 2.25em;
}