@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&family=Fredoka+One&family=Patrick+Hand&display=swap');

/* ------- General styles */

* {
	border: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #ec0b43;
	color: #F6F3F7;
	text-align: center;
	font-family: 'Patrick Hand', cursive;
}

h1 {
	font-family: 'Fredoka One', cursive;
	letter-spacing: 1px;
}

h2 {
	font-size: 1.5rem;
}

.opaque {
	opacity: 0;
}


/* ------- 404 page */

.error-content {
	font-size: 1rem;
	margin-top: 50px;
}


/* ------- Home page */


/* Credit: help centering .landscape-overlay - https://stackoverflow.com/questions/953918/how-to-align-a-div-to-the-middle-horizontally-width-of-the-page */

.landscape-overlay {
	font-size: 1.5rem;
	font-family: 'Fredoka One', cursive;
	position: absolute;
	width: 300px;
	height: 200px;
	z-index: 15;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -150px;
}

.overlay-icon {
	margin-left: 25px;
	margin-right: 25px;
	font-size: 4rem;
}

.landscape-icon {
	transform: rotate(90deg);
}

.arrow-icon {
	font-size: 2.5rem;
	padding-bottom: 20px;
}

.home-container {
	max-height: 100vh;
	max-width: 1200px;
	border: 2px solid;
}

.home-headings {
	height: 29vh;
	padding-top: 14vh;
	padding-left: 0;
	padding-right: 0;
}

.home-images {
	height: 31vh;
}

.home-buttons {
	height: 12vh;
	padding-top: 7px;
}

.home-record {
	font-size: 2rem;
	height: 28vh;
}

.home-img {
	margin-left: 28px;
	margin-right: 28px;
	max-width: 150px;
	height: 166px;
}

.home-button {
	background-color: transparent;
	border: none;
	color: #FFF689;
	border: 2px solid #FFF689;
	font-weight: 600;
	width: 4.5em;
	font-size: 150%;
	text-transform: uppercase;
	letter-spacing: 3px;
	transition: transform 0.65s;
}

.home-button:hover {
	background-color: #FFF689;
	color: #ec0b43;
	border: 2px solid #58355E;
	transform: scale(1.15);
}

button.btn.btn-primary.home-button:active {
	background-color: #FFF689;
	color: #ec0b43;
	border: 2px solid #58355E;
	transition: .5s;
	box-shadow: none !important;
}

button.btn.btn-primary.home-button:focus {
	background-color: #FFF689;
	color: #ec0b43;
	border: 2px solid #58355E;
	transition: .5s;
	outline: none;
	box-shadow: none;
}


/* ------- Home page modals (difficulty and rules) */

.modal-header {
	border-bottom: none;
	justify-content: center;
	padding-bottom: 0;
	padding-top: 0;
}

.modal-body {
	padding-top: 0;
}

.modal-content {
	background-color: #58355E;
}

.difficulty-modal-body {
	max-height: 90vh;
}

.carousel {
	position: initial;
}

.carousel-control-prev {
	top: 73%;
	left: 25%;
}

.carousel-control-next {
	right: 25%;
	top: 73%;
}

.slide-container {
	padding-left: 5px;
	padding-right: 5px;
}

.slide-sub {
	border-bottom: 4px solid;
	padding-bottom: 15px;
	border-radius: 3%;
}

.rules-content {
	font-size: 1.5rem;
	padding-top: 5px;
    font-family: 'Dosis', sans-serif;
}

.rules-img {
	width: 49%;
	max-width: 120px;
	height: 56px;
	display: inline-block;
}

.rules-icon,
.rules-number {
	display: inline;
	border: 3px solid;
	border-radius: 50%;
	padding: 12px;
	color: #FFF689;
	background-color: #ec0b43;
	font-size: 2.5rem;
}

.rules-number {
	padding-left: 26px;
	padding-right: 26px;
}

.difficulty-button {
	border: 3px solid;
	font-size: 2rem;
	width: 120px;
	height: 55px;
	margin-bottom: 1.5rem;
	padding: 0;
	color: #FFF689;
	background-color: #ec0b43;
	font-weight: bold;
    font-family: 'Fredoka One', cursive;
}

.unflex {
	display: contents;
}

.modal-content.\.rules-modal-body {
	height: 90vh;
	max-height: 520px;
}

.difficulty-button:hover {
	color: #FFF689;
	background-color: #58355E;
	transition: .5s;
}

i.far.fa-hand-paper.rules-icon {
	margin: 5px;
	padding: 14px;
}

#slide-one-images {
	padding-bottom: 18px;
	padding-top: 15px;
}

#slide-two-images {
	padding-top: 1.25rem;
	padding-bottom: 28px;
}

#slide-three-images {
	padding-top: .75rem;
	padding-bottom: 17px;
}

#difficulty-modal-body {
	padding-left: 2.5em;
	padding-right: 2.5em;
}

div#rules-ten {
	padding-left: 18px;
	padding-right: 18px;
}

h2#rules {
	font-size: 3rem;
	letter-spacing: 2px;
	font-family: 'Fredoka One';
	text-transform: uppercase;
}

h2#numOfPlayers {
	font-size: 2.5rem;
	font-family: 'Fredoka One';
	padding-top: 25px;
}

button#rules-quit {
	background: none;
	font-weight: bold;
	font-size: 1.35rem;
	border: none;
	float: right;
}

button#difficulty-quit {
	position: absolute;
	right: 2%;
	bottom: 0%;
	font-size: 2rem;
	background-color: transparent;
	border: none;
}

p#difficulty-tagline {
	font-size: 1.25rem;
	font-weight: bold;
    font-family: 'Dosis', sans-serif;
}

span#next-icon,
span#prev-icon {
	width: 3rem;
	height: 42px;
}


/* ------- Game page */

.game-container {
	height: 100vh;
	border: 1px solid;
}

.game-info {
	height: 16vh;
}

.game-info-heading {
	text-decoration: underline;
    font-family: 'Fredoka One', cursive;
}

.game-info-content {
	letter-spacing: 1px;
	font-size: 1.25rem;
	height: 33%;
}

.game-info-quit {
	font-size: 100%;
	background-color: #ec0b43;
	color: #FFF689;
	border: 2px solid #fff689;
	padding: 5px;
	padding-top: 0px;
	padding-bottom: 1px;
    font-family: 'Dosis', sans-serif;
}

.game-area {
	height: 60vh;
	border-bottom: 3px solid;
	border-top: 3px solid;
	border-radius: 10px;
}

.image-row {
	height: 42%
}

.game-middle-row {
	height: 16%;
}

.game-buttons-section {
	height: 24vh;
	padding-top: 3px;
}

.input-row {
	height: 50%;
}

.game-image {
	height: 144px;
	transform: rotate(0deg);
}

.extra-middle-hand {
	position: absolute;
	bottom: -25px;
}

.transparent {
	opacity: 0.4;
}

.game-input {
	background-color: transparent;
	color: rgb(255, 246, 137);
	border: 3px solid;
	font-size: 1.75em;
	border-radius: 50%;
	margin: 2px;
    font-weight: bold;
}

.number-icon {
	width: 56px;
}

.hidden {
	display: none;
}

.text-start {
	text-align: start;
}

.text-end {
	text-align: end;
}

.mute-btn {
	font-size: 1.5rem;
	padding: 8px;
	cursor: pointer;
}

.end-btn {
	background-color: #ec0b43;
	color: #FFF689;
	border: 2px solid #fff689;
	padding: 5px;
	padding-top: 0px;
	padding-bottom: 1px;
	font-size: 1.5rem;
    font-family: 'Dosis', sans-serif;
	margin-bottom: 6px;
	margin-top: 10px;
}

.game-info-quit:hover {
	background-color: #FFF689;
	color: #ec0b43;
	border: 2px solid #58355E;
}

.game-input:hover {
	color: #ec0b43;
	background-color: rgb(255, 246, 137);
	border-color: #58355e;
}

.end-btn:hover {
	background-color: #FFF689;
	color: #ec0b43;
	border: 2px solid #58355E;
	transition: .5s;
}

a.btn.btn-primary.game-info-quit:active {
	border-color: rgb(255, 246, 137);
	box-shadow: none !important;
}

button.btn.btn-primary.game-input:active {
	border-color: rgb(255, 246, 137);
	box-shadow: none !important;
}

a.btn.btn-primary.game-info-quit:focus {
	border-color: rgb(255, 246, 137);
	box-shadow: none !important;
}

button.btn.btn-primary.game-input:focus {
	border-color: rgb(255, 246, 137);
	box-shadow: none !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
	background-color: rgba(255, 246, 137, .7);
	border-color: rgba(255, 246, 137, .7);
	color: #ec0b43;
}

#round-total {
	font-size: 2em;
}

#top-left {
	transform: rotate(-45deg);
	padding-top: 20px;
}

#top-right {
	transform: rotate(45deg) scaleX(-1);
	padding-top: 20px;
}

#middle-left {
	transform: rotate(-90deg);
}

#middle-right {
	transform: rotate(90deg) scaleX(-1);
	right: 23px;
}


/* ------- Home page animations */

.home-entry-one {
	transform: rotate(5deg) scale(0.25);
}

.home-entry-two {
	transform: rotate(-5deg) scale(0.5);
}

.home-entry-three {
	transform: rotate(5deg) scale(0.75);
}

.play-appear {
	opacity: 0;
	animation-name: homeAppear;
	animation-duration: 2.5s;
	animation-delay: 2.75s;
	animation-fill-mode: forwards;
}

.rules-appear {
	opacity: 0;
	animation-name: homeAppear;
	animation-duration: 2.5s;
	animation-delay: 2.85s;
	animation-fill-mode: forwards;
}

.record-appear {
	opacity: 0;
	animation-name: homeAppear;
	animation-duration: 2.5s;
	animation-delay: 3.05s;
	animation-fill-mode: forwards;
}

.tagline-appear {
	opacity: 0;
	animation-name: homeAppear;
	animation-duration: 2.5s;
	animation-delay: 4s;
	animation-fill-mode: forwards;
}

/* Credit: appear animation lifted from MS1 project, which in turn was learnt from https://www.youtube.com/watch?v=zHUpx90NerM&ab_channel=TraversyMedia at around 33 minutes */

@keyframes homeAppear {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}


/* Credit: transform animations learnt from https://www.youtube.com/watch?v=qWPtKtYEsN4 at around 45 minutes */

@keyframes mainAnimation {
	0% {
		transform: scale(1);
	}
	15% {
		transform: rotate(2deg) scale(1.05);
	}
	30% {
		transform: scale(1);
	}
	45% {
		transform: rotate(2deg) scale(1.05);
	}
	60% {
		transform: scale(1);
	}
	75% {
		transform: rotate(2deg) scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes topLeft {
	0% {
		transform: rotate(-45deg) scale(1);
	}
	15% {
		transform: rotate(-47deg) scale(1.05);
	}
	30% {
		transform: rotate(-45deg) scale(1);
	}
	45% {
		transform: rotate(-47deg) scale(1.05);
	}
	60% {
		transform: rotate(-45deg) scale(1);
	}
	75% {
		transform: rotate(-47deg) scale(1.05);
	}
	100% {
		transform: rotate(-45deg) scale(1);
	}
}

@keyframes topRight {
	0% {
		transform: rotate(45deg) scaleX(-1) scale(1);
	}
	15% {
		transform: rotate(47deg) scaleX(-1) scale(1.05);
	}
	30% {
		transform: rotate(45deg) scaleX(-1) scale(1);
	}
	45% {
		transform: rotate(47deg) scaleX(-1) scale(1.05);
	}
	60% {
		transform: rotate(45deg) scaleX(-1) scale(1);
	}
	75% {
		transform: rotate(47deg) scaleX(-1) scale(1.05);
	}
	100% {
		transform: rotate(45deg) scaleX(-1) scale(1);
	}
}

@keyframes middleLeft {
	0% {
		transform: rotate(-90deg) scale(1);
	}
	15% {
		transform: rotate(-92deg) scale(1.05);
	}
	30% {
		transform: rotate(-90deg) scale(1);
	}
	45% {
		transform: rotate(-92deg) scale(1.05);
	}
	60% {
		transform: rotate(-90deg) scale(1);
	}
	75% {
		transform: rotate(-92deg) scale(1.05);
	}
	100% {
		transform: rotate(-90deg) scale(1);
	}
}

@keyframes middleRight {
	0% {
		transform: rotate(90deg) scaleX(-1) scale(1);
	}
	15% {
		transform: rotate(92deg) scaleX(-1) scale(1.05);
	}
	30% {
		transform: rotate(90deg) scaleX(-1) scale(1);
	}
	45% {
		transform: rotate(92deg) scaleX(-1) scale(1.05);
	}
	60% {
		transform: rotate(90deg) scaleX(-1) scale(1);
	}
	75% {
		transform: rotate(92deg) scaleX(-1) scale(1.05);
	}
	100% {
		transform: rotate(90deg) scaleX(-1) scale(1);
	}
}


/* ------- Media queries */

@media screen and (min-width: 375px) {
	.extra-top-hand {
		height: 150px;
	}
	.game-input {
		font-size: 2.25em;
	}
	.number-icon {
		width: 66px;
	}
	button#palm {
		width: 65px;
	}
}

@media screen and (min-height: 640px) {
	.game-info {
		height: 13vh;
	}
	.game-area {
		height: 63vh;
	}
}

@media screen and (min-width: 576px) {
	h1 {
		font-size: 3.5rem;
	}
	h2 {
		font-size: 2rem;
	}
	.game-container {
		height: 80vh;
		margin-top: 72px;
	}
	.game-info {
		height: 13vh;
	}
	.game-area {
		height: 47vh;
	}
	.game-buttons-section {
		height: 19vh;
	}
}

@media screen and (min-width: 768px) {
	.game-container {
		margin-top: 94px;
		border: 4px solid;
		border-radius: 30px;
	}
	.home-img {
		height: 235px;
	}
	.game-info-content {
		font-size: 1.5rem;
	}
	.game-info-quit {
		font-size: 120%;
	}
	.mute-btn {
		font-size: 2.5rem;
	}
	.end-btn {
		font-size: 2.25rem;
	}
	.extra-middle-hand {
		bottom: -40px;
	}
	.add-col-two-player.pad-left.col-6 {
		padding-left: 125px;
	}
	.add-col-two-player.pad-right.col-6 {
		padding-right: 125px;
	}
	.add-col-two-player.col-6 {
		padding-top: 50px;
	}
	#middle-right {
		right: 118px;
	}
}

@media screen and (min-width: 992px) {
	.home-button {
		font-size: 200%;
	}
	.game-input {
		font-size: 2.75em;
		width: 79px;
	}
	.extra-middle-hand {
		bottom: -32px;
	}
	.add-col-two-player.pad-left.col-6 {
		padding-left: 175px;
	}
	.add-col-two-player.pad-right.col-6 {
		padding-right: 175px;
	}
	.add-col-two-player.col-6 {
		padding-top: 100px;
	}
	#middle-left {
		right: -35px;
	}
	#middle-right {
		left: -35px;
	}
	button#palm {
		width: 79px;
	}
}

@media screen and (min-width: 1200px) {
	h1 {
		font-size: 3rem;
		padding-top: 55px;
	}
	.disappear {
		display: none;
	}
	.home-container {
		border: none;
		margin-top: 5%;
	}
	.home-headings {
		height: 45vh;
	}
	.home-buttons {
		height: 14vh;
	}
	.add-col-two-player.col-6 {
		padding-top: 50px;
	}
}

@media (min-height: 1200px) and (min-width: 992px) {
	.home-images {
		height: 27vh
	}
	.home-record {
		height: 32vh;
	}
}

@media screen and (min-height: 700px) {
	.game-image {
		height: 175px;
	}
}

@media (min-width: 992px) and (max-height: 850px) {
	.game-container {
		margin-top: 55px;
		width: 950px;
		height: 84vh;
	}
	.game-info {
		height: 15vh;
	}
	.game-image {
		height: 120px;
	}
	.game-input {
		font-size: 1.5em;
		width: 55px;
		margin-left: 1px;
		margin-right: 1px;
	}
	.extra-top-hand {
		height: 144px;
	}
	.game-buttons-section {
		height: 20vh;
	}
	.mute-btn {
		font-size: 1.75rem;
	}
	.end-btn {
		font-size: 1.5rem;
	}
	.add-col-two-player.pad-left.col-6 {
		padding-left: 175px;
	}
	.add-col-two-player.pad-right.col-6 {
		padding-right: 175px;
	}
	.add-col-two-player.col-6 {
		padding-top: 0px;
	}
	button#palm {
		width: 55px;
	}
}

@media screen and (max-width: 424px) {
	.four-player-reduce {
		width: 55px;
		font-size: 174%;
		margin-right: 2px;
	}
	.game-image {
		height: 145px;
	}
	.extra-middle-hand {
		bottom: -35px;
	}
}

@media screen and (max-width: 374px) {
	.four-player-reduce {
		width: 46px;
		font-size: 130%;
		margin-right: 0;
		padding-left: 11px;
	}
	.extra-middle-hand {
		height: 100px;
	}
}


/* Media queries for galaxy fold screen size */

@media screen and (max-width: 319px) {
	h1 {
		font-size: 1.75rem;
	}
	.home-images {
		height: 25vh;
	}
	.home-img {
		height: 130px;
	}
	.home-record {
		font-size: 1.5rem;
		height: 34vh;
	}
	.rules-number {
		padding-left: 22px;
		padding-right: 22px;
	}
	.game-info-content {
		font-size: 1rem;
	}
	.game-input {
		font-size: 1.25em;
	}
	.number-icon {
		width: 46px;
	}
	.four-player-reduce {
		width: 37px;
		font-size: 100%;
		padding-left: 10px;
	}
	h2#tagline {
		font-size: 1.25rem;
	}
}